@layout LoginLayout
@page "/Login"

@code {
    [Inject] private AuthenticationService AuthenticationService { get; set; }

    private MudForm form;
    private bool success;

    private LoginInModel model = new()
    {
        Username = "Administrator",
        Password = "P@ssw0rd!"
    };


    private async Task HandleLogin()
    {
        await form.Validate();
        if (form.IsValid)
        {
            if (
                await AuthenticationService.LoginAsync(
                    new AuthRequest { UserName = model.Username, Password = model.Password }
                )
            )
            {
                Snackbar.Add("登录成功", Severity.Success);
                Navigation.NavigateTo("/");
            }
            else
            {
                Snackbar.Add("登录失败", Severity.Error);
            }
        }
    }

    public class LoginInModel
    {
        [Required(ErrorMessage = "用户名为必填项。")] public string Username { get; set; } = string.Empty;

        [Required(ErrorMessage = "Password is required.")]
        [StringLength(30, ErrorMessage = "密码长度必须介于 6 到 30 个字符之间。", MinimumLength = 6)]
        [RegularExpression(@"^(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_]).{6,}$", ErrorMessage = "密码必须至少包含一个字母、一个数字和一个特殊字符。")]
        public string Password { get; set; } = string.Empty;

        [Display(Name = "记住我")] public bool RememberMe { get; set; } = true;
    }

}

<div class="login-container">
    <div class="login-box">
        <MudImage Class="login-image-section" Src="/Logo_full_tpt.png">
        </MudImage>

        <div class="login-form-section">
            <MudText Typo="Typo.h4" Class="mb-4">登录</MudText>
            <MudText Typo="Typo.subtitle1" Color="Color.Default" Class="mb-8">欢迎使用 YmKB 智能问答系统，<br/>请输入账号密码！
            </MudText>

            <MudForm @ref="form" bind-IsValid="success">
                <MudTextField Label="用户名"
                              @bind-Value="model.Username"
                              Required="true"
                              HelperText=""
                              RequiredError="请输入用户名"
                              Variant="Variant.Outlined"
                              Class="mb-4"/>

                <PasswordInput Label="密码"
                               @bind-Value="model.Password"
                               Required="true"
                               RequiredError="请输入密码"
                               Variant="Variant.Outlined"
                               Class="password-input"/>
                <MudCheckBox T="bool" @bind-Value="model.RememberMe" Label="记住我" Color="Color.Primary" Class="mb-1 remember-me"/>

                <MudButton Variant="Variant.Filled"
                           FullWidth="true"
                           OnClick="HandleLogin"
                           Size="Size.Large"
                           Class="login-button">登录
                </MudButton>

                <MudText Class="mt-4 text-center">
                    还没有账号？<MudLink Href="/Register" Color="Color.Primary">立即注册</MudLink>
                </MudText>
            </MudForm>
        </div>
    </div>
</div>

<style>
    .login-container {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(-55deg, #a592bf 4%, #e6e4fc 25%, #ffffff 45%, #ffffff 60%, #e6e4fc 75%, #a592bf 97%);
        background-size: 600% 600%;
        animation: gradientBG 11s ease-in-out infinite;
    }

    .login-box {
        display: flex;
        background-color: transparent;
        border-radius: 24px;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 1000px;
        height: 600px;
    }

    .login-form-section {
        flex: 1;
        padding: 48px;
        display: flex;
        flex-direction: column;
    }

    .login-image-section {
        flex: 1;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .login-button {
        border-radius: 8px;
        height: 48px;
        font-size: 16px;
        background: linear-gradient(45deg, #a592bf, #e6e4fc);
        animation: gradientBG 7s ease-in-out infinite;
        color: rgba(255,255,255,0.7);
        transition: all 0.7s ease;
    }
    
    .login-button:hover {
        background: linear-gradient(45deg, #8f7ba8, #d4d2f0);
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(165, 146, 191, 0.3);
    }
    .password-input .mud-icon-button-label {
        color: #a592bf;
    }
    .remember-me .mud-primary-text {
        color: #a592bf !important;
    }

    @@media (max-width: 900px) {
        .login-box {
            flex-direction: column;
            width: 90%;
            height: auto;
        }

        .login-image-section {
            display: none;
        }
    }

    @@keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>
